/*------ Global Settings------*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    background-color: greenyellow;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

nav {
    position: relative;
    left: 1000px;
    bottom: 527px;
    position: fixed;
    top: 0;
    right: 0;
}

h2 {
    /*position: relative;*/
    position: absolute;
    text-align: center;
    position: relative;
    top: 15px;
    /*left: 680px;
    bottom: 230px;
    font-size: 160%;*/
}

h3 {
    font-size: 150%;
}

#aboutus {
    margin-top: 80px;
}

#ourdogs {
    margin-top: 40px;
    margin-bottom: 30px;
}

p {
    font-size: 125%;
}

.bigger-font-size {
    font-size: 150%;
}

#contactus {
    margin-top: 80px;
    margin-bottom: 20px;
}

.register {
    text-align: center;
}

textarea {
    margin-top: 10px;
}

.followus {
    text-align: center;
    margin-top: 40px;
}

.fa fa-facebook {
    padding-left: 50px;
}

#copyright {
    text-align: center;
    font-weight: 1000;
    margin-top: 80px;
    margin-bottom: 20px;
}

/*.dogscontainer {
    width: 100%;
    display: flex;
    /*flex-direction: column;
    justify-content: center;
    align-items: center;
}*/

.cardholders1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    /*flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;*/
}

.cardholders2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 30px;
}